:root {
  --font-mono: 'Gill Sans', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-width: 350px;
}

html,
body {
  max-width: 100vw;
  font-family: 'Gill Sans', sans-serif;
}

@font-face{
  font-family: 'Gill Sans';
  src: url('/assets/font/Gill_Sans_Bold_bold.otf') format('otf');
  font-weight: bold;
  font-display: block;
}

@font-face{
  font-family: 'Gill Sans';
  src: url('/assets/font/Gill_Sans_Light_200.otf') format('otf');
  font-weight: 200;
  font-display: block;
}

@font-face{
  font-family: 'Gill Sans';
  src: url('/assets/font/Gill_Sans_400.otf') format('otf');
  font-weight: 400;
  font-display: block;
}

@font-face{
  font-family: 'Gill Sans';
  src: url('/assets/font/Gill_Sans_400.otf') format('otf');
  font-weight: normal;
  font-display: block;
}

@font-face{
  font-family: 'Gill Sans';
  src: url('/assets/font/Gill_Sans_Medium_600.otf') format('otf');
  font-weight: 600;
  font-display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

section{
  max-height: 1300px;
}

body::-webkit-scrollbar{
  width: 0px;
}